* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #060606;
}

header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
}

.nav-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 34px;
    color: #F3CF05;
    cursor: pointer;
}

.nav-bar-item--border {
    width: 2px;
    height: 20px;
    background-color: black;
}

.welcome {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 200px;
}

.welcome h1 {
    margin-bottom: 20px;
}

.info {
    color: #F3CF05;
    margin-bottom: 20px;
    line-height: 25px;
}

.description {
    color: #9E9F88;
    line-height: 30px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 200px;
}

.image-card {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.image-card h3 {
    margin-bottom: 20px;
}

.image-card img {
    margin-bottom: 10px;
}

.image-card p {
    text-align: justify;
    color: #9E9F88;
}

.list {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
}

.list-item p {
    margin-left: 20px;
    color:  #F3CF05;
}

.go-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 50px;
    padding: 0 200px;
}

footer {
    padding: 0 200px;
}

footer h1 {
    margin-bottom: 20px;
}